.logo{
	width: 60px;
	height: 60px;
}

#social{
	text-align: center;
	background-color: #006918;
	padding-top: 32px;
	padding-bottom: 70px;
}

.Qualquer-coisa{
	font-size: 32pt;
	font-weight: bold;
}

#social a{

	color: #ffffff;
	font-size: 20pt;

}
#social a:hover{
	color: #002dd0;
}